# This file controls who is tagged for review for any given pull request.
#
# For syntax help see:
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-syntax

*   @googleapis/senseai-eco-team
# Code & Tests
**/alloydb*/ @googleapis/toolbox-alloydb-team @googleapis/senseai-eco-team
**/bigquery/ @googleapis/toolbox-bigquery-team @googleapis/senseai-eco-team
**/bigtable/ @googleapis/toolbox-bigtable-team @googleapis/senseai-eco-team
**/cloudsqlmssql/ @googleapis/toolbox-cloud-sql-mssql-team @googleapis/senseai-eco-team
**/cloudsqlmysql/ @googleapis/toolbox-cloud-sql-mysql-team @googleapis/senseai-eco-team
**/cloudsqlpg/ @googleapis/toolbox-cloud-sql-postgres-team @googleapis/senseai-eco-team
**/dataplex/ @googleapis/toolbox-dataplex-team @googleapis/senseai-eco-team
**/firestore/ @googleapis/toolbox-firestore-team @googleapis/senseai-eco-team
**/looker/ @googleapis/toolbox-looker-team @googleapis/senseai-eco-team
**/spanner/ @googleapis/toolbox-spanner-team @googleapis/senseai-eco-team
